<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.SoftAdmin.mapper.BlogsearchMapper" >
  <resultMap id="BaseResultMap" type="com.SoftAdmin.bean.Blogsearch" >
    <id column="blogid" property="blogid" jdbcType="INTEGER" />
    <result column="blogweb" property="blogweb" jdbcType="VARCHAR" />
    <result column="blogname" property="blogname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    blogid, blogweb, blogname
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.SoftAdmin.bean.BlogsearchExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blogsearch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blogsearch
    where blogid = #{blogid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blogsearch
    where blogid = #{blogid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.SoftAdmin.bean.BlogsearchExample" >
    delete from blogsearch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.SoftAdmin.bean.Blogsearch" >
    insert into blogsearch (blogid, blogweb, blogname
      )
    values (#{blogid,jdbcType=INTEGER}, #{blogweb,jdbcType=VARCHAR}, #{blogname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.SoftAdmin.bean.Blogsearch" >
    insert into blogsearch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="blogid != null" >
        blogid,
      </if>
      <if test="blogweb != null" >
        blogweb,
      </if>
      <if test="blogname != null" >
        blogname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="blogid != null" >
        #{blogid,jdbcType=INTEGER},
      </if>
      <if test="blogweb != null" >
        #{blogweb,jdbcType=VARCHAR},
      </if>
      <if test="blogname != null" >
        #{blogname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.SoftAdmin.bean.BlogsearchExample" resultType="java.lang.Integer" >
    select count(*) from blogsearch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update blogsearch
    <set >
      <if test="record.blogid != null" >
        blogid = #{record.blogid,jdbcType=INTEGER},
      </if>
      <if test="record.blogweb != null" >
        blogweb = #{record.blogweb,jdbcType=VARCHAR},
      </if>
      <if test="record.blogname != null" >
        blogname = #{record.blogname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update blogsearch
    set blogid = #{record.blogid,jdbcType=INTEGER},
      blogweb = #{record.blogweb,jdbcType=VARCHAR},
      blogname = #{record.blogname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.SoftAdmin.bean.Blogsearch" >
    update blogsearch
    <set >
      <if test="blogweb != null" >
        blogweb = #{blogweb,jdbcType=VARCHAR},
      </if>
      <if test="blogname != null" >
        blogname = #{blogname,jdbcType=VARCHAR},
      </if>
    </set>
    where blogid = #{blogid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.SoftAdmin.bean.Blogsearch" >
    update blogsearch
    set blogweb = #{blogweb,jdbcType=VARCHAR},
      blogname = #{blogname,jdbcType=VARCHAR}
    where blogid = #{blogid,jdbcType=INTEGER}
  </update>
</mapper>