<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.SoftAdmin.mapper.BlogpcgameMapper" >
  <resultMap id="BaseResultMap" type="com.SoftAdmin.bean.Blogpcgame" >
    <id column="nid" property="nid" jdbcType="INTEGER" />
    <result column="appname" property="appname" jdbcType="VARCHAR" />
    <result column="appimgurl" property="appimgurl" jdbcType="VARCHAR" />
    <result column="appdis" property="appdis" jdbcType="VARCHAR" />
    <result column="appdownurl" property="appdownurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    nid, appname, appimgurl, appdis, appdownurl
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.SoftAdmin.bean.BlogpcgameExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blogpcgame
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blogpcgame
    where nid = #{nid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blogpcgame
    where nid = #{nid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.SoftAdmin.bean.BlogpcgameExample" >
    delete from blogpcgame
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.SoftAdmin.bean.Blogpcgame" >
    insert into blogpcgame (nid, appname, appimgurl, 
      appdis, appdownurl)
    values (#{nid,jdbcType=INTEGER}, #{appname,jdbcType=VARCHAR}, #{appimgurl,jdbcType=VARCHAR}, 
      #{appdis,jdbcType=VARCHAR}, #{appdownurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.SoftAdmin.bean.Blogpcgame" >
    insert into blogpcgame
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="nid != null" >
        nid,
      </if>
      <if test="appname != null" >
        appname,
      </if>
      <if test="appimgurl != null" >
        appimgurl,
      </if>
      <if test="appdis != null" >
        appdis,
      </if>
      <if test="appdownurl != null" >
        appdownurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="nid != null" >
        #{nid,jdbcType=INTEGER},
      </if>
      <if test="appname != null" >
        #{appname,jdbcType=VARCHAR},
      </if>
      <if test="appimgurl != null" >
        #{appimgurl,jdbcType=VARCHAR},
      </if>
      <if test="appdis != null" >
        #{appdis,jdbcType=VARCHAR},
      </if>
      <if test="appdownurl != null" >
        #{appdownurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.SoftAdmin.bean.BlogpcgameExample" resultType="java.lang.Integer" >
    select count(*) from blogpcgame
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update blogpcgame
    <set >
      <if test="record.nid != null" >
        nid = #{record.nid,jdbcType=INTEGER},
      </if>
      <if test="record.appname != null" >
        appname = #{record.appname,jdbcType=VARCHAR},
      </if>
      <if test="record.appimgurl != null" >
        appimgurl = #{record.appimgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.appdis != null" >
        appdis = #{record.appdis,jdbcType=VARCHAR},
      </if>
      <if test="record.appdownurl != null" >
        appdownurl = #{record.appdownurl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update blogpcgame
    set nid = #{record.nid,jdbcType=INTEGER},
      appname = #{record.appname,jdbcType=VARCHAR},
      appimgurl = #{record.appimgurl,jdbcType=VARCHAR},
      appdis = #{record.appdis,jdbcType=VARCHAR},
      appdownurl = #{record.appdownurl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.SoftAdmin.bean.Blogpcgame" >
    update blogpcgame
    <set >
      <if test="appname != null" >
        appname = #{appname,jdbcType=VARCHAR},
      </if>
      <if test="appimgurl != null" >
        appimgurl = #{appimgurl,jdbcType=VARCHAR},
      </if>
      <if test="appdis != null" >
        appdis = #{appdis,jdbcType=VARCHAR},
      </if>
      <if test="appdownurl != null" >
        appdownurl = #{appdownurl,jdbcType=VARCHAR},
      </if>
    </set>
    where nid = #{nid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.SoftAdmin.bean.Blogpcgame" >
    update blogpcgame
    set appname = #{appname,jdbcType=VARCHAR},
      appimgurl = #{appimgurl,jdbcType=VARCHAR},
      appdis = #{appdis,jdbcType=VARCHAR},
      appdownurl = #{appdownurl,jdbcType=VARCHAR}
    where nid = #{nid,jdbcType=INTEGER}
  </update>
</mapper>