<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.SoftAdmin.mapper.SoftlistMapper" >
  <resultMap id="BaseResultMap" type="com.SoftAdmin.bean.Softlist" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="softname" property="softname" jdbcType="VARCHAR" />
    <result column="softtype" property="softtype" jdbcType="VARCHAR" />
    <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sid, softname, softtype, imgurl
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.SoftAdmin.bean.SoftlistExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from softlist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from softlist
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from softlist
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.SoftAdmin.bean.SoftlistExample" >
    delete from softlist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.SoftAdmin.bean.Softlist" >
    insert into softlist (sid, softname, softtype, 
      imgurl)
    values (#{sid,jdbcType=INTEGER}, #{softname,jdbcType=VARCHAR}, #{softtype,jdbcType=VARCHAR}, 
      #{imgurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.SoftAdmin.bean.Softlist" >
    insert into softlist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="softname != null" >
        softname,
      </if>
      <if test="softtype != null" >
        softtype,
      </if>
      <if test="imgurl != null" >
        imgurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="softname != null" >
        #{softname,jdbcType=VARCHAR},
      </if>
      <if test="softtype != null" >
        #{softtype,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.SoftAdmin.bean.SoftlistExample" resultType="java.lang.Integer" >
    select count(*) from softlist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update softlist
    <set >
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.softname != null" >
        softname = #{record.softname,jdbcType=VARCHAR},
      </if>
      <if test="record.softtype != null" >
        softtype = #{record.softtype,jdbcType=VARCHAR},
      </if>
      <if test="record.imgurl != null" >
        imgurl = #{record.imgurl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update softlist
    set sid = #{record.sid,jdbcType=INTEGER},
      softname = #{record.softname,jdbcType=VARCHAR},
      softtype = #{record.softtype,jdbcType=VARCHAR},
      imgurl = #{record.imgurl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.SoftAdmin.bean.Softlist" >
    update softlist
    <set >
      <if test="softname != null" >
        softname = #{softname,jdbcType=VARCHAR},
      </if>
      <if test="softtype != null" >
        softtype = #{softtype,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.SoftAdmin.bean.Softlist" >
    update softlist
    set softname = #{softname,jdbcType=VARCHAR},
      softtype = #{softtype,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  
  <!-- List<Softlist> getAllSoft(@Param("beforelimit") Integer beforelimit,@Param("afterlimit") Integer afterlimit); -->
  <select id="getAllSoft" resultMap="BaseResultMap">
  	select * from softlist limit #{beforelimit},#{afterlimit}
  </select>
  
  <!-- Softlist getSoftDis(@Param("sid") String sid); -->
  <select id="getSoftDis" resultMap="BaseResultMap">
  	select * from softlist where sid=#{sid}
  </select>
  
  <!-- int updateSoft(Softlist soft); -->
  <update id="updateSoft" parameterType="com.SoftAdmin.bean.Softlist" >
  	update softlist set softname = #{softname}, softtype = #{softtype}, imgurl = #{imgurl} where sid = #{sid}
  </update>
  
  
</mapper>